.Design1 { width: 400px; height:150px; font-size:250%; color:white; font-weight:bold; text-shadow:1px 1px 1px #00ace6; background-image: url("patern2.jpg"); border-radius:300px; border-color:white;}

.Design2 {background-image: patern2.jpg}

.Settings { border-radius:15px; border-color:white;}

.EffectBtn { width: 200px; height: 30px; vertical-align: top; font-size: 100%; color:white; background-image: url("patern2.jpg"); border-radius:300px; border-color:white;}
